# leaving these empty will use the following fallbacks:
# backend api port (8080)
PORT=

# cors (http://localhost:3000)
ALLOWED_ORIGINS=

# postgres (postgres@localhost:5432/capyspace)
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

# redis (localhost:6379)
RD_PASSWORD=
RD_HOST=
RD_PORT=
